<h1 i18n>Catalisa Public APIS Browser</h1>
<div id="navbar">
  <nav class="navbar navbar-expand-md fixed-top">
    <ul class="navbar-nav mr-auto">
<li class="nav-item"><a i18n class="navbar-link" href="#content">Skip to content</a>
      <li class="nav-item"><a i18n class="nav-link" accesskey="1" routerLink="">Home</a>
      <li class="nav-item"><a i18n class="nav-link" accesskey="2" routerLink="categories">APIs by category</a>
      <li class="nav-item"><a i18n class="navbar-link" accesskey="3" routerLink="category/All">All APIs</a>
      <li class="nav-item"><a i18n class="nav-link" accesskey="4" routerLink="status">API status</a>
    </ul>
  </nav>
</div>
