<h2>Categories list</h2>
<div id="categories-list">
  <ng-container *ngIf="categories$ | async as categories; else loadingOrError">
    <ul>
      <li *ngFor="let category of categories">
        <a routerLink="/view/{{category}}">{{category}}</a>
      </li>
    </ul>
  </ng-container>
  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">
      Error while trying to get categories: {{ errorObject.message }}
    </ng-container>
    <ng-template #loading>
      Getting the categories...
    </ng-template>
  </ng-template>
</div>
